.chord { 
    position: relative;
    user-select: auto;
    width: 156px;
    height: auto;
    max-width: 156px;
    max-height: 80px;
    min-height: 80px;
    box-sizing: border-box;
    flex-shrink: 0;
    min-width: 29px;
}

.add-chord { 
    position: relative;
    user-select: auto;
    width: 78px;
    height: auto;
    max-height: 80px;
    min-height: 80px;
    box-sizing: border-box;
    flex-shrink: 0;
    min-width: 29px;
}

.div {
    position: relative;
    user-select: auto;
    width: 156px;
    height: auto;
    /* max-width: 156px; */
    max-height: 80px;
    min-height: 80px;
    box-sizing: border-box;
    flex-shrink: 0;
    min-width: 29px;
}

.chord li {
    align-items: center;
    color: #4d4d4d;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 700;
    height: auto;
    outline: none;
    padding: 2px;
    transition: .3s;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    z-index: 3;
}

.lines {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 0 13px;
    position: absolute;
    -webkit-user-select: none;
    user-select: none;
    width: 100%;

    span {
        color: #ddd;
        display: inline-flex;
        height: 15px;
        justify-content: center;
        overflow: hidden;
        width: 100%;
    }
}



